html{height: 100%;}
body {
	margin:0;
	padding:0;
	height: 100%;
	font-size: 16px;
	font-family: 'Alegreya SC', Georgia, serif;
	/*
	background-image:url(http://www.html5tricks.com/demo/html5-vehicle-picker-form/css/masthead_bg.png);
	background-size:auto 600px;
	*/
	overflow: hidden;
	color:#333;
	font-size:14px;
	-webkit-user-select: none;
}
div:after, ul:after,li:after,dl:after,dd:after {content: "";display: block;clear: both;height: 0;visibility:hidden;overflow:hidden;zoom:1;}

a{text-decoration: none; font-size:14px; }
ul, li{
	margin:0; padding:0;
	list-style: none;
}

.free{position:absolute}
.warp{

}
header{
	position:absolute; 
	left:10px; 
	top:10px;
	width:5px; 
	z-index:1;
	min-height:400px;
	background:#4ab0eb;
	
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.pagenav ul{
	position:relative;
	width:1px;
	margin:2px;
	padding: 0;
	background:#fff;
	min-height:400px;
}
.pagenav li{
	position:absolute;
	left:-7px; 
	border:3px solid #fff;
	background:#4ab0eb;
	width:8px;
	height:8px;
    border-radius: 8px;
	
	-moz-box-shadow:2px 2px 8px #999;
    -webkit-box-shadow:2px 2px 8px #999;
    box-shadow:2px 2px 8px #999;
}

.pagenav  li.p1{
	top:10px;
}
.pagenav  li.p2{
	top:60px;
}
.pagenav  li.p3{ 
	top:120px;
}
.pagenav  li.p4{ 
	top:200px;
}
.pagenav li a{
	
}
.pagenav li a.showtitle{
	opacity: 0.9;
	-webkit-transform: translate(8px,-10px) rotate(0deg) scale(1);
	-moz-transform: translate(8px,-10px) rotate(0deg) scale(1);
	-o-transform: translate(8px,-10px) rotate(0deg) scale(1);
	-ms-transform: translate(8px,-10px) rotate(0deg) scale(1);
	transform: translate(8px,-10px) rotate(0deg) scale(1);
}

#touchbox{
	-webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-backface-visibility: hidden;
}
#touchbox section{
	float: left;
	display:block;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.pagecont , .conH{ padding:0px 30px 30px 30px; min-height:500px; min-width:280px;}
.page0{
	/*
	background-image:url(1.png);
	background-repeat:no-repeat;
	background-size:contain;
	*/
}
.page0 .pagecont{
	margin-top:200px;
}
.welcome{padding:0;}
.welcome li{margin-bottom:18px;}

.sInfo {
	positon:relative;
	margin:0;
	padding:50px 0 0 0;
}
.sInfo li {
	display:none;
	line-height:2em;
	margin:0;
	padding:0;
}
.bigstr{
	float:left;
	font-size:30px;
	line-height:1.2em;
	margin-right:18px;
}
.bigfont{
	font-size:30px;
	line-height:1.2em
}
.bigstr span{
	font-size:22px;
}
.joinus{display:none; margin-left:24px}
.yunpan{color:red}

.ease_in_out {
	-webkit-transition: all 4s ease-in-out;
	-moz-transition: all 4s ease-in-out;
	-o-transition: all 4s ease-in-out;
	transition: all 4s ease-in-out;
}


@-webkit-keyframes fadeIn {
	0% {
		opacity: 0; /*初始状态 透明度为0*/
	}
	50% {
		opacity: 0; /*中间状态 透明度为0*/
	}
	100% {
		opacity: 1; /*结尾状态 透明度为1*/
	}
}

.fadeIn{
	-webkit-animation-name: fadeIn; /*动画名称*/
	-webkit-animation-duration: 1s; /*动画持续时间*/
	-webkit-animation-iteration-count: 1; /*动画次数*/
	-webkit-animation-delay: 0s; /*延迟时间*/
}

.page{position:absolute; bottom:0; width:60%; height:26px;}
.page .left{float:left}
.page .right{float:right}
.tip{background:url(../img/tip.png) no-repeat;width:50px;height:40px;background-size:50px;position:absolute;z-index:10;left:0;right:0;bottom:5px;margin:auto; -webkit-animation:fadeIn 2.5s 1s ease infinite;}

a.test{
	position:absolute;
	display:block;
	width:86px;
	height:16px;
z-index:9999;
	
	-webkit-transform: translate(-40px) rotate(40deg) scale(1.5);
	-moz-transform: translate(35px) rotate(25deg) scale(1.5);
	-o-transform: translate(35px) rotate(25deg) scale(1.5);
	-ms-transform: translate(35px) rotate(25deg) scale(1.5);
	transform: translate(35px) rotate(25deg) scale(1.5);
	
	background:blue;


	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a.test2{
	opacity: 0.9;
	-webkit-transform: translate(0px) rotate(0deg) scale(1);
	-moz-transform: translate(0px) rotate(0deg) scale(1);
	-o-transform: translate(0px) rotate(0deg) scale(1);
	-ms-transform: translate(0px) rotate(0deg) scale(1);
	transform: translate(0px) rotate(0deg) scale(1);
}

/* page loading begin */
.loading-wrap {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 9;
	background-color: #000;
}
.page-content {
	position: absolute;
	width: 320px;
	height: 504px;
	top: 50%;
	left: 50%;
	margin: -252px 0 0 -160px;
	overflow: visible;
}
.loading-box {
	width: 52px;
	height: 77px;
	top: 50%;
	left: 50%;
	margin: -38.5px 0 0 -26px;
}
.loading-circle {
	top: 0;
	left: 0;
	background-image: url(../img/loading.png);
	background-position: center;
	-webkit-background-size: 52px;
	background-size: 52px;
	width: 52px;
	height: 52px;
	-webkit-animation: ro-loading 2s linear infinite;
	animation: ro-loading 2s linear infinite;
}

.loading__word {
	left: 0;
	bottom: 0;
	font-size: 11px;
	color: #fff;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
@-webkit-keyframes ro-loading{from{-webkit-transform: rotate(0deg)}to{-webkit-transform: rotate(360deg)}}
@-moz-keyframes ro-loading{from{-moz-transform: rotate(0deg)}to{-moz-transform: rotate(360deg)}}
@-ms-keyframes ro-loading{from{-ms-transform: rotate(0deg)}to{-ms-transform: rotate(360deg)}}
@keyframes ro-loading{from{transform: rotate(0deg)}to{transform: rotate(360deg)}}



.fill{
	height: 100%;
}
.theBlackBg{
	background:#030303 no-repeat center;background-size: cover
}
.theWhBg{
	background:#F8F8F8 no-repeat center;background-size: cover
}
.center100,.center100per{ 
	top: 20%;
	bottom: 10%;
	left: 10%;
	right: 10%;
	width: 80%;
	position: absolute;
}
.center107,.center108{ 
	top: 20%;
	bottom: 10%;
	left: 5%;
	right: 5%;
	width: 90%;
	position: absolute;
}
.center108{ 
	top: 5%;
}
.page0 .p1,.page0 .p2,.page0 .p3{top:10%; height: 70%;position: absolute; left: 0px; width:100%; background-size: contain;background-repeat: no-repeat;background-position:center;}

.page0 .p1{background-image: url( ../img/le1.1.1.png );z-index: 3;}
.page0 .p2{background-image: url( ../img/le1.g.1.png );z-index: 2;}
.page0 .p3{background-image: url( ../img/le1.bg.1.png );z-index: 1;left:-5%;}

.page0 .title-1,.page0 .title-2{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 10%;
	right: 10%;
}
.page0 .title-1{
	height: 30px;
	background-image: url( ../img/title.1.big.png );

	top:60px;

}
.page0 .title-2{
	top:90px;
	background-image: url( ../img/title.1.s.png );
	height: 30px;

}

.page1 .p1,.page1 .p2,.page1 .p3{top:10%; height: 70%;position: absolute; left: 0px; width:100%; background-size: contain;background-position:center;background-repeat: no-repeat;}
.page1 .a{position:relative;width:100%;height:100%;}
.page1 .p1{background-image: url( ../img/p1.png );background-size: contain;z-index: 1;/* left:-15%;top:45%; */height: 70%;position:absolute;/* background-position: 0px -20px; *//* top:45%; */top: auto;bottom: 40px;background-position: bottom;}
.page1 .p2{background-image: url( ../img/p2.png );z-index: 3;left:3%;position:absolute;top: auto;bottom: 40px;}
.page1 .p3{background-image: url( ../img/p3.png );/* background-size:49.5%; */z-index: 2;/* left:50%; */position:absolute;top: auto;bottom: 40px;background-size: contain;height: 70%;}

.page1 .title-1,.page1 .title-2{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 10%;
	right: 10%;
}
.page1 .title-1{
	height:30px;
	background-image: url( ../img/p1_word.png );
	top:60px;
	
}
.page1 .title-2{
	top:90px;
	background-image: url( ../img/p1_t2.png );
	height: 30px;

}
.desk{	background: url( ../img/live.png ) no-repeat;background-size:contain;width:100%;height:40px;position:absolute;bottom:0;margin:0 auto;
}

.page2 .p1,.page2 .p2,.page2 .p3{top:10%; height: 60%;position: absolute; left: 0px; width:100%; background-size: contain;background-repeat: no-repeat;}
.page2 .p1{background-image: url( ../img/p2_1.png );left:-5%;}
.page2 .p2{background-image: url( ../img/p2_2.png );left:48%;}
.p2W{background: url(../img/p2_b.png) no-repeat;width:100%;height:50px;background-size:contain;position:absolute;bottom:40px;}
.score{background:url(../img/score.png) no-repeat;height:100%;width:100%;position:absolute;top:70px;z-index:2;background-size:50%;}
.page2 .title-1,.page2 .title-2{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 10%;
	right: 10%;
}
.page2 .title-1{
	height: 30px;
	background-image: url( ../img/p2_t1.png );

	top:60px;

}
.page2 .title-2{
	top:90px;
	background-image: url( ../img/p2_t2.png );
	height: 30px;

}

.page3 .p1,.page3 .p2,.page3 .p3{top:10%; height: 55%;position: absolute; left: 0px; width:100%; background-size: contain;background-repeat: no-repeat;}

.page3 .p1{background-image: url( ../img/p3_1.png ); left:;}
.page3 .p2{background-image: url( ../img/p3_2.png ); left:43%;}
.p3W{background: url(../img/p3_b.png) no-repeat;width:100%;height:50%;margin:0 auto;background-size:contain;position:absolute;bottom:-13%;}


.page3 .title-1,.page3 .title-2{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 10%;
	right: 10%;
}
.page3 .title-1{
	height: 30px;
	background-image: url( ../img/p3_t1.png );
	top:60px;
}
.page3 .title-2{
	top:90px;
	background-image: url( ../img/p3_t2.png );
	height: 30px;
}

.page4 .p1,.page4 .p2,.page4 .p3,.page4 .p11{top: 15%; height: 80%;position: absolute; left: 0px; width:50%; background-size: contain;background-repeat: no-repeat;}

.page4 .p1{background-image: url( ../img/le5.1.1.png );z-index: 2; margin-top:6px;left:13%}
.page4 .p11{background-image: url( ../img/le5.1.2.png );z-index: 1; margin-top:6px;left:13%}
.page4 .p2{background-image: url( ../img/le5.g.1.png );z-index: 2;left: 50%;}

.page4 .title-1,.page4 .title-2{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 10%;
	right: 10%;
}
.page4 .title-1{
	height: 50px;
	background-image: url( ../img/title.5.big.png );
	top: 45px;

}
.page4 .title-2{
	bottom: 8px;
	background-image: url( ../img/p4_t2.png );
	height: 48px;

}



.page5 .p1,.page5 .p2,.page5 .p3{height: 80%;position: absolute; left: 0px; width:100%; background-size: contain;background-repeat: no-repeat;}

.page5 .p1{background-image: url( ../img/le6.1.1.png );z-index: 1; background-position: center;}
.page5 .p2{background-image: url( ../img/yuyue.png );z-index: 2;bottom:70px; height: 40px;background-position: center }
.page5 .p3{bottom: 10px;height: 40px;background-image: url( ../img/yuyue_btn.png );background-position: center }
.page5 .p3 .p0-name{
	height: 100%;
	width: 100%;
	margin: 2 auto;
}
.page5 .p3 .p0-name a,.page5 .p1 .p0-name a{
	display: block;height: 100%;width: 100%
}
.tvp_shadow, .page5 .p1 .p0-name{

	background-image: url(../img/video.png);
	background-position: center;
}
.page5 .p1 .p0-name{
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%; 
	margin: 0 auto; 

	margin-left: 1px;
	margin-right: 1px;
}
.page5 .title-1,.page5 .title-2{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 10%;
	right: 10%;
}
.page5 .title-1{
	height: 23px;
	background-image: url( ../img/yuyue_title.png );

	top:10%;

}
.page5 .title-2{
	top:90px;
	height: 15px;

}

.page6 .p1,.page6 .p2,.page6 .p3{height: 80%;position: absolute; left: 0px; width:100%; background-size: contain;background-repeat: no-repeat;}

.page6 .p1{background-image: url( ../img/le7.1.1.png );z-index: 1; top:5%;height: 50px;background-position: center;
top: 106px;}
.page6 .p2{background-image: url( ../img/le7.bg.1.png );z-index: 2;bottom:0px; height: 90px;background-position: center }

.page6 .p1 .p0-name{
	height: 50px;
	width: 200px;
	margin: 0 auto;
}
.page6 .p1 .p0-name a{display: block;height: 100%;width: 100%}
.page6 .title-1,.page6 .title-2{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 5%;
	right: 5%;
}
.page6 .title-1{
	height: 150px;
	background-image: url( ../img/title.7.big.png );

	top:40px;

}
.page6 .title-2{
	top:90px;
	background-image: url( ../img/title.7.s.png );
	height: 15px;

}
@-webkit-keyframes fadeInRight {0% {opacity: 0;-webkit-transform: translate3d(100%,0, 0);}100% {opacity: 1;-webkit-transform: none;}}
@-webkit-keyframes fadeInLeft {0% {opacity: 0;-webkit-transform: translate3d(-100%,0, 0);}100% {opacity: 1;-webkit-transform: none;}}
@-webkit-keyframes fadeInDown {0% {opacity: 0;-webkit-transform: translate3d(0, 100%, 0);}100% {opacity: 1;-webkit-transform: none;}}
@-webkit-keyframes fadeInUp {0% {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);}100% {opacity: 1;-webkit-transform: none;}}
@-webkit-keyframes fadeIn {0% {opacity: 0;}100% {opacity: 1;}}
@-webkit-keyframes zoomIn {0% {opacity: 0;-webkit-transform: scale3d(.2, .2, .2);}50% {opacity: 1;}}
@-webkit-keyframes bounceIn {
0%, 20%, 40%, 60%, 80%, 100% {
-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
0% {
opacity: 0;
-webkit-transform: scale3d(.3, .3, .3);
transform: scale3d(.3, .3, .3);
}
20% {
-webkit-transform: scale3d(1.6, 1.6, 1.1);
transform: scale3d(1.6, 1.6, 1.1);
}
40% {
-webkit-transform: scale3d(.9, .9, .9);
transform: scale3d(.9, .9, .9);
}
60% {
opacity: 1;
-webkit-transform: scale3d(1.03, 1.03, 1.03);
transform: scale3d(1.03, 1.03, 1.03);
}
80% {
-webkit-transform: scale3d(.97, .97, .97);
transform: scale3d(.97, .97, .97);
}
100% {
opacity: 1;
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);
}
}
@-webkit-keyframes shake {
0%, 100% {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
10%, 30%, 50%, 70%, 90% {
-webkit-transform: translate3d(-10px, 0, 0);
transform: translate3d(-10px, 0, 0);
}
20%, 40%, 60%, 80% {
-webkit-transform: translate3d(10px, 0, 0);
transform: translate3d(10px, 0, 0);
}
}
@-webkit-keyframes toLeft{100%{-webkit-transform:translate(-29%,0)}}
@-webkit-keyframes toRight{100%{-webkit-transform:translate(29%,0)}}
.page0.on .p1{	-webkit-animation:toLeft 1s .5s ease forwards;}
.page0.on .p2{	-webkit-animation: 2.5s .5s ease both; }
.page0.on .p3{	-webkit-animation:toRight 1s .5s ease forwards;}
.page0.on .title-1{	-webkit-animation:fadeInLeft 1.5s ease both; }
.page0.on .title-2{	-webkit-animation:fadeInRight 1.5s ease both; }
/* @-webkit-keyframes animate_1_1 {0% {left:-200px;}100% {left:0px;}}
@-webkit-keyframes animate_1_2 {0% {left:-200px;}100% {left:30%;}}
@-webkit-keyframes animate_1_3 {0% {left:-200px;}100% {left:50%;}}
@-webkit-keyframes animate_1_4 {0% {left:-200px;}100% {left:10%;}}
@-webkit-keyframes animate_1_5 {0% {right:-200px;}100% {right:10%;}} */
@-webkit-keyframes toLeftP1{100%{-webkit-transform:translate(-20%,0)}}
@-webkit-keyframes toRightP1{100%{-webkit-transform:translate(35%,0)}}
.page1.on .p1{	-webkit-animation:toLeftP1 1s ease both; }
.page1.on .p2{	-webkit-animation: 2s 1s ease both; }
.page1.on .p3{	-webkit-animation:toRightP1 1s ease both; }
.page1.on .title-1{	-webkit-animation:fadeInUp 1s ease both; }
.page1.on .title-2{	-webkit-animation:fadeInRight 1s ease both; }
/* @-webkit-keyframes animate_1_1 {0% {left:-10px;}100% {left:0px;}}
@-webkit-keyframes animate_1_2 {0% {left:3px;}100% {left:40%;}}
@-webkit-keyframes animate_1_3 {0% {left:3px;}100% {left:75%;}}
@-webkit-keyframes animate_1_4 {0% {left:-200px;}100% {left:10%;}}
@-webkit-keyframes animate_1_5 {0% {right:-200px;}100% {right:10%;}} */
.page2.on .p1{	-webkit-animation:fadeInLeft 1s  ease both; }
.page2.on .p1 .score{	-webkit-animation:fadeIn .5s 1s ease both;}
.page2.on .p2{	-webkit-animation:fadeInRight 1s ease both; }
.page2.on .title-1{	-webkit-animation:fadeInDown  1s  ease both; }
.page2.on .title-2{	-webkit-animation:fadeInUp 1s ease both; }
/* @-webkit-keyframes animate_1_1 {0% {left:-20%;}100% {left:20%;}}
@-webkit-keyframes animate_1_2 {0% {left:0%;}100% {left:40%;}}
@-webkit-keyframes animate_1_3 {0% {left:3px;}100% {left:50%;}}
@-webkit-keyframes animate_1_4 {0% {left:-200px;}100% {left:10%;}}
 */
.page3.on .p3W{-webkit-animation:bounceIn 1s .5s ease both; }
.page3.on .title-1{	-webkit-animation:fadeInUp  1s  ease both; }
.page3.on .title-2{	-webkit-animation:fadeInDown 1s ease both; }
@-webkit-keyframes fadeInLeftP1 {0% {opacity: 0;-webkit-transform: translate3d(-100%,0, 0);}80%{opacity:1;-webkit-transform:none;}100% {opacity: 1;-webkit-transform: translate(-22%,0);}}
@-webkit-keyframes fadeInLeftP11 {0% {opacity: 0;-webkit-transform: translate3d(-100%,0, 0);}80%{opacity:1;-webkit-transform:none;}100% {opacity: 1;-webkit-transform: translate(22%,0);}}
.page4.on .p1{	-webkit-animation:fadeInLeftP1 1.5s ease both; }
.page4.on .p11{	-webkit-animation:fadeInLeftP11 1.5s ease both; }
.page4.on .p2{	-webkit-animation:fadeInRight 1.5s ease both; }
.page4.on .title-1{	-webkit-animation:fadeIn 2s ease both; }
.page4.on .title-2{	-webkit-animation:fadeIn 2s ease both; }
/* @-webkit-keyframes animate_1_1 {0% {left:10px;}100% {left:0px;}}
@-webkit-keyframes animate_1_2 {0% {left:40%;}100% {left:50%;}}
@-webkit-keyframes animate_1_4 {0% {left:10px;}100% {left:10%;}} */
.page5.on .p1{	-webkit-animation:animate_1_1 s both; }
.page5 .p2.act{	-webkit-animation:bounceIn 1s ease 5; }
.page5.on .title-1{	-webkit-animation:fadeInLeft 1s ease both; }


.page8 .p1,.page8 .p2,.page8 .p3,.page8 .bottom{height: 80%;position: absolute; left: 0px; width:100%; background-size: contain;background-repeat: no-repeat;}

.page8 .p1{background-image: url( ../img/car.png );z-index: 1; bottom: 50px;/* height: 50px; */background-position: center;
/* top: 106px; */}
.page8 .p2{background-image: url( ../img/letv55.png );z-index: 2;bottom: 37px; height: 59%;width: 76%;left: 0px;background-position: center }
.page8 .p3{background-image: url( ../img/lemax.png );z-index: 2;bottom: 26px; height: 30%;width: 26%;right: 22px;left: auto;background-position: center }

.page8.on .p2{	-webkit-animation:fadeInTop 1.5s ease both; }
.page8.on .p3{	-webkit-animation:fadeInDown 1.5s ease both; }
@-webkit-keyframes fadeInTop {0% {opacity: 0;-webkit-transform: translate3d(0,-100%, 0);}80%{opacity:1;-webkit-transform:none;}100% {opacity: 1;-webkit-transform: translate(0,0);}}
@-webkit-keyframes fadeInDown {0% {opacity: 0;-webkit-transform: translate3d(0,80%, 0);}80%{opacity:1;-webkit-transform:none;}100% {opacity: 1;-webkit-transform: translate(0,0);}}
.page8 .title-1,.page8 .title-2{
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 5%;
	right: 5%;
}
.page8 .title-1{
	height: 24px;
	background-image: url( ../img/le8.big.png );

	top:62px;

}
.page8 .title-2{
	top:100px;
	background-image: url( ../img/le8.s.png );
	height: 13px;

}
.page8.on .title-1 { -webkit-animation:fadeInLeft 1.5s ease both; }
.page8.on .title-2 { -webkit-animation:fadeInRight 1.5s ease both; }
.page8 .bottom{background-image: url(../img/le8.title.png);
bottom: 0px;
height: 30px;
width: 80%;
left: 10%;
right: 10%;
background-position: center;

}

.center100per{
	left: 0px;
	right: 0px;
	width:100%
}
.page3 .endyuyue,.page4 .endyuyue,.page0 .endyuyue{
	position: absolute;
bottom: 8px;
height: 38px;
width: 100%;
background-image: url(../img/le7.1.1.w.png );
background-position: center;
background-size: contain;
background-repeat: no-repeat;z-index: 100;
}
.page3 .endyuyue{
	background-image: url(../img/le7.1.1.png );
}
.page4 .endyuyue a,.page3 .endyuyue a,.page0 .endyuyue a{display: block;height: 100%;width: 100%}