* {
	color: #660000;
	font-weight: 900;
	font-size: 12px;
}

.tc {
	text-align: center;
}

.header {
	background-color: #FF9900;
	padding-bottom: 10px;
}
.top {
	margin-top: 20px;
}
.title {
	font-size: 20px;
	font-weight: 800;
	line-height: 80px;
	margin-left: -20px;
}

.avatar {
	width: 50px;
	border-radius: 25px;
}

.list-title {
	position: absolute;
	left: 0;
	display: inline-block;
	margin-top: 20px;
	height: 40px;
	/*line-height: 30px;*/
	padding: 10px;
	background-color: #FF6600;
}

.user-list {
	margin-top: 60px;
}

.user-detail {
	margin-top: 10px;
}

.user-phone {
	padding-right: 0;
}

.user-type {
}

.js-gocard {
	display: inline-block;
	color: #fff;
	background-color: #660000;
}

.tixian {
	margin-top: 40px;
}

.copyright {
	/*margin-top: 70px;*/
	position: absolute;
	width: 100%;
	bottom: 0;
}