<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>注册下级商户|<%=GetMemberSystemTitle()%>|<%=GetWebsiteName()%></title>
    <base href="http://xiangtan.suninpay.com:81/">
    <link href="WebCss/WebSite.css" rel="stylesheet" type="text/css" />
    <link href="Images/zwicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
	<form id="FomSub" runat="server">
    <div>
        <!-- 
	    <div class="rember_head">
		    <div class="mian">
			    <div class="logo1"></div>
			    <div class="di1">会员注册</div>
			    <div class="right">欢迎你：<%=Session["MerchantRealName"] %>  | <a href="#">退出</a>  |  <a href="#">帮助中心</a></div>
		    </div>
	    </div>
	    -->
	    
        <include file="Public:header" />
        
	    <div class="rember_main">
		    <div class="div01"></div>
		    <div class="step1_cont">
			    <ul>
				    <li>
					    <dl>
						    <dt>上级账号名：</dt>
						    <dd><b  class="org" style="line-height:33px; font-size:16px"><%= !string.IsNullOrEmpty(StrShowMainMerchantUserName) ? StrShowMainMerchantUserName.Substring(0, 3) + "****" + StrShowMainMerchantUserName.Substring(7, 4) : "没有上级代理"%></b></dd>
					    </dl>
				    </li>
				    <li>
					    <dl>
						    <dt>用&nbsp;户&nbsp;名：</dt>
						    <dd><asp:TextBox id="TxtUserName"  runat="server" CssClass="input1" onkeydown="ValidateNumber(event);" onpaste="ValidateClip(event);" MaxLength="11" /><label id="LabHaveShow" runat="server"><font color="#ff0000">*</font> 用户名只能用手机号码</label></dd>
					    </dl>
				    </li>
				    <li>
					    <dl>
						    <dt>登录密码：</dt>
						    <dd><asp:TextBox id="TxtPwd"  runat="server" CssClass="input1" TextMode="Password" MaxLength="256" /><span>您要设置的登录密码</span></dd>
					    </dl>
				    </li>
				    <li>
					    <dl>
						    <dt>确认密码：</dt>
						    <dd><asp:TextBox id="TxtOKPwd"  runat="server" CssClass="input1" TextMode="Password" MaxLength="256" /><span>再次输入您要设置的登录密码</span></dd>
					    </dl>
				    </li>
				    <li>
					    <dl>
						    <dt>验&nbsp;证&nbsp;码：</dt>
						    <dd>
		                        <asp:TextBox ID="TxtValidateCode" runat="server" CssClass="input1" placeholder="填写短信验证码" onkeydown="ValidateNumber(event);" onfocus="this.select(); " onpaste="ValidateClip(event);" maxlength="4" style="width:80px" />
                                <span>
                                     <!--
                                     请输入验证码<img id="ImgCode" alt="看不清楚？点击更换" 
                                src="ValidateCode.aspx" style="cursor:pointer;" onclick="ClickChangeImage()" /><a href="JavaScript://" onclick="ClickChangeImage();">换一张</a>
                                    -->
						            <asp:Button ID="BtnSendValidateCode" runat="server" CssClass="org_bt" Text="发送验证码" OnClientClick="return CheckMobileEmpty()" OnClick="BtnSendValidateCode_Click" />
                                </span>
						    </dd>
					    </dl>
				    </li> 
				    <li>
					    <dl>
						    <dt>&nbsp;</dt>
						    <dd>
						        <asp:Button ID="BtnRegister" runat="server" CssClass="org_bt" Text="下一步" OnClientClick="return CheckEmpty()" OnClick="BtnRegister_Click" />
						    </dd>
					    </dl>
				    </li> 
			    </ul>
		    </div>
	    </div>
		
	    <uc2:WebFoot ID="WebFoot1" runat="server" />

	</div>
	</form>
    <script type="text/javascript"> 
        function nTabs(thisObj,Num){ 
        if(thisObj.className == "active")return; 
        var tabObj = thisObj.parentNode.id; 
        var tabList = document.getElementById(tabObj).getElementsByTagName("li"); 
        for(i=0; i <tabList.length; i++){ 
        if (i == Num){ 
           thisObj.className = "active"; 
              document.getElementById(tabObj+"_Content"+i).style.display = "block"; 
        }else{ 
           tabList[i].className = "normal"; 
           document.getElementById(tabObj+"_Content"+i).style.display = "none"; 
        } 
        } 
        } 

    </script>
    <script type="text/javascript">
        function CheckMobileEmpty()
        {
            if (document.all["TxtUserName"].value=="")
            {
                alert("对不起，手机号码用户名不能为空！"); 
                //$("#SpnUserName").html("对不起，手机号码用户名不能为空！");                    
                document.all["TxtUserName"].focus();
                return false;
            }
                                                                                                                    
            return VerificateMobile(document.all["TxtUserName"].value);
           
            //FomSub.submit();
        }
        
        function CheckEmpty()
        {
            if (FomSub.TxtUserName.value=="")
            {
                alert("对不起，用户名不能为空！");            
                FomSub.TxtUserName.focus();
                return false;
            }
            if (FomSub.TxtUserName.value=='<%=StrMerchantUserName%>')
            {
                alert("对不起，注册的下级商户用户名不能够和当前商户用户名相同，请重新输入！");            
                FomSub.TxtUserName.focus();
                return false;
            }     
            
            if (!VerificateMobile(document.all["TxtUserName"].value)) 
            {
                return false;    
            } 
            
            if (FomSub.TxtPwd.value=="")
            {
                alert("对不起，密码不能为空！");            
                FomSub.TxtPwd.focus();
                return false;
            }
            if (FomSub.TxtOKPwd.value=="")
            {
                alert("对不起，确认密码不能为空！");            
                FomSub.TxtOKPwd.focus();
                return false;
            }
            if (FomSub.TxtValidateCode.value=="")
            {
                alert("对不起，验证码不能为空！");            
                FomSub.TxtValidateCode.focus();
                return false;
            }
            if (FomSub.TxtPwd.value!=FomSub.TxtOKPwd.value)
            {
                alert("对不起，密码与确认密码不匹配，请重新输入！");            
                FomSub.TxtOKPwd.focus();
                return false;
            }
               
            var StrValidateCode="<%= StrValidateVBumCode%>"; 
            if (document.all["TxtValidateCode"].value!=StrValidateCode)
            {
                alert("对不起，手机短信验证码输入不正确，请重新输入！"); 
                //$("#SpnUserName").html("对不起，手机号码用户名不能为空！");                    
                document.all["TxtValidateCode"].focus();
                return false;
            }
            //return VerificateMobile(FomSub.TxtUserName.value);
            //alert(document.getElementById("DpdLstArea").value);
        }  
        
        //验证输入字符串是否为手机号码格式类型。
        function VerificateMobile(StrInputValue)
        {
            var StrMobileFormat=/^1[3,5,7,8]{1}[0-9]{1}[0-9]{8}$/;
            if(!StrMobileFormat.test(StrInputValue))
            {
                alert("对不起，手机号码格式不正确，请输入11位数字的正确手机号码！");
                document.all["TxtUserName"].focus();
                return false; 
            }    
            return true;   
        } 
        
        //验证输入字符串是否为手机号码格式类型。
        function VerificateMobile(StrInputValue)
        {
            var StrMobileFormat=/^1[3,5,7,8]{1}[0-9]{1}[0-9]{8}$/;
            if(!StrMobileFormat.test(StrInputValue))
            {
                alert("对不起，用户名格式不正确，请输入11位数字的正确手机号码作为用户名！");
                FomSub.TxtUserName.focus();
                return false; 
            }    
            return true;   
        }
        
        function ClickChangeImage() 
        {              
            document.getElementById("ImgCode").src = "ValidateCode.aspx?"+Math.random();;
        } 

        //////只能输入数字
        function OnlyInputNumber(obj, reg, inputstr) 
        { 
            if(event.srcelement.getattribute("readonly")||event.srcelement.getattribute("disabled"))return false; 
            if(event.keycode<46 || event.keycode>57)return false; 
            var docsel = document.selection.createrange(); 
            if (docsel.parentelement().tagname != "input") return false; 
            osel = docsel.duplicate() 
            osel.text = "" 
            var srcrange = obj.createtextrange() 
            osel.setendpoint("starttostart", srcrange) 
            var str = osel.text + inputstr + srcrange.text.substr(osel.text.length) 
            return reg.test(str) 
        }

        function ValidateNumber(ev)
        {
            var e = ev.keyCode;
            //允许的有大、小键盘的数字，左右键，backspace, delete, Control + C, Control + V
            if(e != 8  && e != 9 && e != 13  && e != 37 && e != 39 && e != 46&& e != 48 && e != 49 && e != 50 && e != 51 && e != 52 && e != 53 && e != 54 && e != 55 && e != 56 && e != 57 && e != 96 && e != 97 && e != 98 && e != 99 && e != 100 && e != 101 && e != 102 && e != 103 && e != 104 && e != 105)
            {
                if(ev.ctrlKey == false)
                {
                    //不允许的就清空!
                     ev.returnValue = "";
                 }
                else
                {
                    //验证剪贴板里的内容是否为数字!
                     ValidateClip(ev);
                 }
             }
        }

        //验证剪贴板里的内容是否为数字!
        function ValidateClip(ev)
        {
            //查看剪贴板的内容!
            var content = clipboardData.getData("Text");
            if(content != null)
            {
                try
                {
                    var test = parseInt(content);
                    var str = "" + test;
                    if(isNaN(test) == true)
                    {
                        //如果不是数字将内容清空!
                         clipboardData.setData("Text","");
                     }
                    else
                    {
                        if(str != content)
                             clipboardData.setData("Text", str);
                     }
                 }
                catch(e)
                {
                    //清空出现错误的提示!
                     alert("粘贴出现错误!");
                 }
             }
        }
    </script>   
</body>
</html>
